
// For /plot.cpp
plot_up_bmp             BITMAP  "wxMathPlot\plotrc\plot_up.bmp"
plot_dwn_bmp            BITMAP  "wxMathPlot\plotrc\plot_dwn.bmp"
plot_enl_bmp            BITMAP  "wxMathPlot\plotrc\plot_enl.bmp"
plot_shr_bmp            BITMAP  "wxMathPlot\plotrc\plot_shr.bmp"
plot_zin_bmp            BITMAP  "wxMathPlot\plotrc\plot_zin.bmp"
plot_zot_bmp            BITMAP  "wxMathPlot\plotrc\plot_zot.bmp"
